asttokens==3.0.0
beautifulsoup4==4.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
comm==0.2.2
curl_cffi==0.11.4
debugpy==1.8.14
decorator==5.2.1
executing==2.2.0
filelock==3.13.1
frozendict==2.4.6
fsspec==2024.6.1
google-play-scraper==1.2.7
idna==3.10
iniconfig==2.1.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.3
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mpmath==1.3.0
multitasking==0.0.11
nest-asyncio==1.6.0
networkx==3.3
numpy==2.0.1
packaging==24.2
pandas==2.2.2
parso==0.8.4
peewee==3.18.1
pillow==11.0.0
platformdirs==4.3.8
pluggy==1.5.0
prompt_toolkit==3.0.51
protobuf==6.31.1
psutil==7.0.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.2
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==310
pyzmq==27.0.0
requests==2.32.4
six==1.16.0
soupsieve==2.7
stack-data==0.6.3
sympy==1.13.1
ta-lib @ file:///C:/Users/redie/Downloads/ta_lib-0.6.4-cp311-cp311-win_amd64.whl#sha256=c1af5af76638dd4db2121529b2b022e62992b14ce8a5acac9277f099adc97022
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.5.1
traitlets==5.14.3
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.5.0
wcwidth==0.2.13
websockets==15.0.1
yfinance==0.2.63
